html{
    font-size: 62.5%; /* Adaptability for rem; 1rem = 10px */
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    max-width: 100%;
}

p{
    font-size: 1.6rem;
    line-height: 1.5;
}

/* Button */
.boton{
    background-color: #00B8e4;
    padding: 1rem 6rem;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 1rem;
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color .3s ease-in-out;
}

@media (min-width: 768px) {
    .boton{
        display: inline-block;
    }
}

.boton:hover{
    background-color:  rgb(11, 89, 109);
}

/* Header */
.site-header{
    padding: 2rem 0;
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

/* Navegation */
.barra{
    margin-top: 2rem;
    background-color: #db008b;
}

.navegacion-principal a{
    text-decoration: none;
    color: white;
    font-size: 2.2rem;
    display: block;
    text-align: center;
    padding: 1.5rem;
}

@media (min-width: 768px) {
    .navegacion-principal a{
        display: inline-block;
        margin-right: 2rem;
    }
    .navegacion-principal a:last-of-type{
        margin: 0;
    }
}

.navegacion-principal a:hover{
    background-color: #008be4;
}

/* Main Content */
.contenido-principal,
.sidebar{
    padding: 2rem;
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .contenido-principal{
        width: 70%;
        float: left;
        padding-right: 0 2rem 0 0;
    }
    
    .sidebar{
        width: 30%;
        float: right;
        padding: 0;
    }
}

/* Blog Posts */
h2{
    color: #00b8e4;
    margin-bottom: 2rem;
}

.entrada{
    margin-bottom: 4rem;
}

.entrada:last-of-type{
    margin: 0;
}

.entrada img{
    display: block;
}

@media (min-width: 768px) {
    .entrada img{
        width: 300px;
        float: left;
        margin: 0 3rem 3rem 0;
    }
}

.entrada p{
    text-align: justify;
}

/* Sidebar */


